<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"

>
<head>
	<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
	integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
	crossorigin="anonymous">
</head>
<body>


	<section class="row mt-5">
		 <div class="col-5 offset-3">
		 
        <form th:action="@{/site/commons/saveOrUpdate}" method="post"
				th:object="${customer}">
				<div class="card">
					<div class="card-header">
						<h3>Register</h3	>
					</div>
					<div class="card-body">
					
						<div th:if="@{message != null}" class="alert alert-primary"
							role="alert">
							<i>[[${message}]]</i>
						</div>
						
						
						
						<div class="form-group">
							<label for="name">Username</label> <input type="text"
								name="name" id="name" class="form-control"
								th:field="*{name}" placeholder="Username"
								aria-describedby="name"> <small id="name"
								th:if="${#fields.hasErrors('name')}" class="text-muted">Username
								is invalid</small>
						</div>
						
						<div class="form-group">
							<label for="email">Email</label> <input type="text"
								name="email" id="email" class="form-control"
								th:field="*{email}" placeholder="Email"
								aria-describedby="email"> <small id="email"
								th:if="${#fields.hasErrors('email')}" class="text-muted">Email
								is invalid</small>
						</div>
						
						<div class="form-group">
							<label for="password">Password</label> <input type="password"
								name="password" id="password" class="form-control"
								th:field="*{password}" placeholder="Password"
								aria-describedby="password"> <small id="password"
								th:if="${#fields.hasErrors('password')}" class="text-muted">Password
								is invalid</small>
						</div>

						<div class="form-group">
							<label for="phone">Phone</label> <input type="text"
								name="phone" id="phone" class="form-control"
								th:field="*{phone}" placeholder="Phone"
								aria-describedby="phone"> <small id="phone"
								th:if="${#fields.hasErrors('phone')}" class="text-muted">Phone
								is invalid</small>
						</div>
						
							<div class="form-group">
					
				</div>
				
				
						
					</div>
					<div class="card-footer text-muted">
						
						<button class="btn btn-primary"><i class="fas fa-sign-in-alt mr-1"></i>Submit</button>
					</div>
				</div>
			</form>
      </div>
	</section>

</body>
</html>